.about{
    width: 100%;
    min-height: 100vh;
    position: relative;
    .about-left, .about-right{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
    }
    .about-left{
        display: block;
        width: 40%;
        position: fixed;
        padding-top: 24vh;
        padding-left: 10vw;
        img{
            width: 20vw;
            margin-bottom: 7.5%;
        }
        a{
            text-transform: lowercase;
            margin: 2.5% 2.5% 0% 0%;
            // font-size: 14px;
        }
    }
    .about-right{
        position: absolute;
        right: 0;
        width: 60%;
        padding-top: 30vh;
        padding-right: 16vw;
        padding-bottom: 15vh;
        h1, h2{
            font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
        }
        .skills{
            margin: 28px 0;
            display: flex;
            flex-direction: row;
            h2{
                line-height: 100%;
                flex: 1;
                font-size: 20px; 
            }
            div{
                flex: 2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 8px;
                grid-row-gap: 12px;
                h3{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        p{
            margin-bottom: 8px;
            b{
                color: $textDark;
            }
        }
        h1{
            color: $textDark;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}