.footer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6vh 10vw!important;
    flex: unset;
    div{
        flex: 1;
        &:nth-child(2){
            text-align: center;
        }
        &:last-of-type{
            text-align: right;
        }
    }
    b{
        cursor: pointer;
        color: $key2;
    }
    a{
        text-align: right;
    }
    a,b{
        transition: opacity 0.2s;
        &:hover{
            opacity: 0.6;
        }
    }
}