$key1: #FFFA74;
$key2: #4D35D3;
$key3: #E5C952;
$textLight: #373744;
$textDark: #11102B;
@import "./mixins.scss";
@import "./landing.scss";
@import "./menu.scss";
@import "./profile.scss";
@import "./footer.scss";
@import "./proj.scss";
@import "./work.scss";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500&display=swap');

body {
	font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
	padding: 0;
	margin: 0;
	background: #fdfdfd;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $textDark;
}

#app{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	letter-spacing: 0.025rem;
}
a{
	text-decoration: none;
	display:inline-block;
	position: relative;
	color: $textDark;
	font-weight: 400!important;
	transition: all 0.25s;
	&:visited, &:active{
		color: $textDark;
	}
}
a.underline{
	line-height: 140%;
	*{
		font-weight: 400;
		font-size: 100%;
	}
	&::after{
		content: '';
		height: 24%;
		width: 100%;
		position: absolute;
		bottom: 7%;
		left: 0%;
		background: $key1;
		z-index: -1;
		transition: all 0.25s;
	}
	&:hover:after{
		height: 100%;
	}
}

a.link-bg{
	&::after{
		content: '';
		height: 50%;
		position: absolute;
		background: $key1;
		transition: all 0.2s;
		right: -10%;
		bottom: -2.5%;
		z-index: -1;
		width: 0%;
	}
	&:hover::after{
		width: 100%;
	}
}

h1,h2,h3,h4,h5,h6{
	margin: 0%;
	color: $textDark;
	font-weight: 500;
}

h1{font-size: 3rem};
h2{font-size: 2rem};
h3{font-size: 1.5rem};
h4{font-size: 1.25rem};
h5{font-size: 1.15rem};
h6{font-size: 1rem; font-weight: 400};

p, a, span, li{
	font-size: 0.96rem;
	line-height: 1.8;
	letter-spacing: 0.4px;
	font-weight: 300;
	margin: 0%;
	@include mobile{
		margin: 0px;
	}
	b{
		font-weight: 500;
	}
	a{
		margin: 0%;
	}
}
b, strong{
	font-weight: 500;
}
p, span{
	color: $textLight;
}

.container{
	clear: both;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10vw;
	flex: 1;
}

.serifFont{
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

.textBg{
	@extend .serifFont;
	font-size: 100%;
	font-weight: 700;
	color: $textDark;
	position: relative;
	margin: 0% 2px;
	&:after{
		content: '';
		height: 50%;
		position: absolute;
		background: $key1;
		transition: all 0.2s;
		right: -4px;
		bottom: -4px;
		z-index: -1;
		width: 90%;
	}
}

.load-screen{
	width: 100%;
	height: 100vh;
	z-index: 100;
	background: white;
	span{
		position: absolute;
		top: 50%;
		right: 10vw;
		letter-spacing: 0.1rem;
		font-size: 1.2rem;
		&:after{
			content: '';
			height: 1px;
			background: $textDark;
			width: 8vw;
			position: absolute;
			top: 50%;
			right: -10vw;
		}
	}
}

.scroll{
	cursor: pointer;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	right: 10%;
	height: 16vh;
	letter-spacing: 0.05rem;
	border-left: 1px $textLight solid;
	padding-left: 12px;
}

.error{
	.error-bg{
		background-position: center;
		background-size: contain;
		width: 100%;
		height: 64vh;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 24px 0px;
		h1{
			cursor: default;
			margin: 0%;
			margin-top: -5rem;
			font-size: 20rem;
			line-height: 1;
			@extend .serifFont;
			font-weight: 700;
			position: relative;
			&:after{
				content: attr(data-text);
				position: absolute;
				color: $key1;
				left: 0.8rem;
				top: 0.8rem;
				z-index: -1;
				transition: all 0.2s;
			}
			&:hover::after{
				animation: shake 0.2s infinite ease-in;
			}
		}
	}
	p{
		font-weight: 700;
		font-size: 1.6rem;
		text-align: center;
	}
}

@keyframes shake{
	0%{
		transform: translateX(2rem);
	}
	50%{
		transform: translateX(-4rem);
	}
	100%{
		transform: translateX(2rem);
	}
}