@import url('https://fonts.googleapis.com/css?family=Nunito:300,600,700|Playfair+Display:700,800&display=swap');
$primary: #ffe96e;
$secondary: #424cd6;
$background: #FCFCFE;
$textLight: #373744;
$textDark: #11102B;
$textReg: 300;
$textMed: 600;
$textBold: 700;
$headerReg: 700;
$headerBold: 800;
@import "./mixins.scss";
@import "./landing.scss";
@import "./menu.scss";
@import "./profile.scss";
@import "./proj.scss";
@import "./work.scss";
@import "./footer.scss";
@import "./scroll.scss";


::selection {
	background: $primary;
}
::-moz-selection {
	background: $primary;
}
body {
	font-family: 'Nunito', 'Segoe UI', Arial, sans-serif;
	padding: 0;
	margin: 0;
	background: $background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $textDark;
}

#app{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	letter-spacing: 0.025rem;
}
a{
	text-decoration: none;
	display:inline-block;
	position: relative;
	font-weight: $textReg!important;
	transition: all 0.25s;
	&:visited, &:active{
		color: inherit;
	}
}
.underline{
	cursor: pointer;
	color: $secondary!important;
	font-weight: $textMed!important;
	text-shadow: 0.3rem 0.24rem transparent;
	&:hover{
		text-shadow: 0.3rem 0.24rem $primary;
	}
}

.link-bg{
	@extend .underline;
	color: $textDark!important;
}

h1,h2,h3,h4,h5,h6{
	margin: 0%;
	color: $textDark;
	font-weight: $textMed;
}

h1{font-size: 3rem};
h2{font-size: 2rem};
h3{font-size: 1.5rem};
h4{font-size: 1.25rem};
h5{font-size: 1.15rem};
h6{font-size: 1rem; font-weight: $textReg};

p, a, span, li{
	font-size: 1rem;
	line-height: 1.8;
	letter-spacing: 0.4px;
	font-weight: $textReg;
	margin: 0%;
	@include mobile{
		margin: 0px;
	}
	a{
		margin: 0%;
	}
}
b, strong{
	font-weight: $textBold;
}
p, span{
	color: $textLight;
}

.container{
	clear: both;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10vw;
	flex: 1;
}

.serifFont{
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
	font-weight: $headerReg;
}

.textBg{
	@extend .serifFont;
	font-size: 100%;
	color: $textDark;
	position: relative;
	margin: 0% 2px;
	text-shadow: 0.3rem 0.24rem $primary;
}

.backdrop{
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		right: -1rem;
		bottom: -1rem;
		position: absolute;
		z-index: -1;
		border: 2px $primary solid;
		transition: all 0.2s;
	}
	&:hover:after{
		border-color: $secondary;
		right: -1.3rem;
		bottom: -1.3rem;
	}
}

.load-screen{
	width: 100%;
	height: 100vh;
	z-index: 100;
	background: white;
	span{
		position: absolute;
		top: 50%;
		right: 10vw;
		letter-spacing: 0.1rem;
		font-size: 1.2rem;
		&:after{
			content: '';
			height: 1px;
			background: $textDark;
			width: 8vw;
			position: absolute;
			top: 50%;
			right: -10vw;
		}
	}
}
.error{
	.error-bg{
		background-position: center;
		background-size: contain;
		width: 100%;
		height: 64vh;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 24px 0px;
		h1{
			cursor: default;
			margin: 0%;
			margin-top: -5rem;
			font-size: 20rem;
			line-height: 1;
			@extend .serifFont;
			position: relative;
			&:after{
				content: attr(data-text);
				position: absolute;
				color: $primary;
				left: 0.8rem;
				top: 0.8rem;
				z-index: -1;
				transition: all 0.2s;
			}
			&:hover::after{
				animation: shake 0.2s infinite ease-in;
			}
		}
	}
	p{
		font-size: 1.6rem;
		text-align: center;
	}
}

@keyframes shake{
	0%{
		transform: translateX(2rem);
	}
	50%{
		transform: translateX(-4rem);
	}
	100%{
		transform: translateX(2rem);
	}
}