.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .container{
        position: relative;
    }
    .home-image{
        width: 40vw;
        height: 25vw;
        opacity: 0.75;
        img{
            position: absolute;
            width: 100%;
        }
        position: fixed;
        z-index: -1;
    }
    .home-titles{
        width: 60%;
        position: absolute;
        right: 0;
        top: 40%;
        padding-bottom: 7.5%;
        cursor: pointer;
        .home-title{
            margin-bottom: 7.5%;
            h1{
                font-size: 5rem;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}