.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home-landing{
        box-sizing: border-box;
        margin-top: 15vh;
        padding-top: 15vh;
        padding-bottom: 20vh;
        position: relative;
        h1{
            font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
            font-weight: 900;
            margin: 0%;
            letter-spacing: 0.1rem;
            line-height: 0%;
        }
        display: flex;
        flex-direction: row;
        div{
            display: flex;
            height: 50vh;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h4{
                font-weight: 300;
                margin-bottom: 1rem;
            }
            &:first-of-type{
                flex: 1;
                position: relative;
                justify-content: flex-start;
                &:after{
                    content: '';
                    background: $textLight;
                    width: 1px;
                    height: 50%;
                    right: 30%;
                    position: absolute;
                }
            }
            &:nth-of-type(2){
                flex: 2;
                p{
                    font-weight: 400;
                }
            }
            &:nth-of-type(3){
                flex: 4;
            }
        }
    }
}