.menu{
    position: fixed;
    z-index: 10;
    top: 0%;
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all 1s;
    .container{
        a{
            cursor: pointer;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            color: $textDark;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .menu-links{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            a{
                margin-left: 20px;
                font-family: 'Playfair Display', Georgia, sans-serif;
                font-weight: 700!important;
            }
        }
        .menu-logo{
            a{
                font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
                font-weight: 400!important;
                b{
                    font-family: 'Playfair Display', Georgia, sans-serif;
                    font-weight: 700!important;
                    letter-spacing: 0.075rem;
                }
            }
        }
    }
}