.project{
    padding: 0%!important;
    .header{
        width: 100%;
        position: relative;
        margin-top: 20vh;
        height: 80vh;
        display: flex;
        .header-left{
            width: 60%;
            margin-right: 5%;
            position: relative;
            .header-img{
                background-position: center;
                background-size: cover;
                position: absolute;
                left: 0%;
                bottom: 0%;
                width: 100%;
                height: 70vh;
            }
            .header-title{
                height: 5vh;
                width: 100%;
                position: absolute;
                right: 0%;
                top: 0%;
                display: flex;
                flex-direction: flex;
                align-items: center;
                justify-content: flex-end;
                h1{
                    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
                    font-weight: 700;
                }
                h2{
                    color: $textLight;
                    font-weight: 300;
                    font-size: 1.1rem;
                    text-transform: lowercase;
                    margin-right: 2%;
                    margin-top: 0.5rem;  
                }
            }
        }
        .header-right{
            width: 35%;
            padding-right: 10vw;
            position: relative;
            a{
                position: absolute;
                left: 0%;
                bottom: 10%;
            }
            .header-info{
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 2.5%;
                grid-row-gap: 1rem;
                margin-top: 10vh;
            }
            h3,h2{
                margin: 0%;
                font-size: 1.1rem;
            }
            h3{
                font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
                font-weight: 700;
                line-height: 1.7rem;
            }
            h2{
                color: $textLight;
                font-weight: 300;
                text-transform: lowercase;
                line-height: 1.8rem;
            }
        }
    }
    .body{
        width: 100%;
        padding: 16vh 0 8vh 0;
        .right-bleed, .left-bleed, .block, .block-text, .block-right, .block-left, .block-images{
            display: grid;
            margin-bottom: 12vh;
            grid-template-columns: 1fr 1fr;
            column-gap: 8vw;
            box-sizing: border-box;
            div{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
        a{
            @extend .underline;
            font-size: 100%;
        }
        h1{
            font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
            font-size: 1.2rem;
            font-weight: 700;
        }
        h2{
            font-size: 1.1rem;
            line-height: 2rem;
            font-weight: 400;
        }
        p{
            font-size: 0.92rem;
            margin-top: 1rem;
        }
        .full-text{
            margin: 20vh 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 8vh 20vw;
            h1{
                font-size: 1.6rem;
                line-height: 3.2rem;
            }
        }
        .block, .block-text, .image-full, .block-left, .block-right, .block-images{
            padding: 0 10vw;
        }
        .block-text{
            div{
                justify-content: flex-start;
            }
        }
        img{
            margin-bottom: 4vh;
            width: 100%;
        }
        .image-hh{
            width: unset;
            margin: 0%;
            height: 60vh;
        }
        .image-full, .block-center{
            margin-bottom: 12vh;
            span{
                color: $textLight;
                font-size: 0.9rem;
            }
        }
        .block-center{
            padding: 0 20vw;
            display: flex;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:first-of-type{
                    align-items: flex-start;
                    margin-right: 4%;
                }
                &:last-of-type{
                    align-items: center;
                }
                flex: 1
            }
        }
        .block-images{
            column-gap: 2vw;
            row-gap: 2vw;
        }
        .right-bleed{
            div:first-of-type{
                padding-left: 10vw;
            }
        }
        .left-bleed{
            div:last-of-type{
                padding-right: 10vw;
            }
        }
        .block-right{
            grid-template-columns: 1fr 1.5fr;
        }
        .block-left{
            grid-template-columns: 1.5fr 1fr;
        }
    }
    .body-video{
        padding-bottom: 56.25%;
        position: relative;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .proj-end{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        padding: 0 10vw;
        margin: 8vh 0;
        height: 40vh;
        h2{
            @extend .serifFont;
            color: $textLight;
            padding: 10vh 0;
            font-size: 1.2rem;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                color: $textLight;
                font-size: 0.9rem;
                font-weight: 400;
                margin-bottom: 2%;
            }
            h1{
                a{
                    font-size: 100%;
                    font-weight: 700!important;
                }
                @extend .serifFont;
                font-size: 2.2rem;
            }
        }
        div:last-of-type{
            background-position: center;
            background-size: cover;
        }
        column-gap: 2vw;
    }
}