.project{
    padding: 0%!important;
    .header{
        width: 100%;
        position: relative;
        margin-top: 20vh;
        height: 80vh;
        display: flex;
        .header-left{
            width: 60%;
            margin-right: 5%;
            .header-img{
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 72vh;
            }
            .header-title{
                height: 8vh;
                width: 100%;
                padding-bottom: 4vh;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                .name{
                    @extend .serifFont;
                }
                .context{
                    color: $textLight;
                    text-transform: lowercase;
                    margin-right: 2%;
                    margin-top: 0.5rem;  
                }
            }
        }
        .header-right{
            width: 35%;
            padding-right: 10vw;
            position: relative;
            a{
                position: absolute;
                left: 0%;
                bottom: 10%;
            }
            .header-info{
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-column-gap: 1rem;
                grid-row-gap: 1rem;
                margin-top: 10vh;
            }
            h3{
                margin: 0%;
                font-size: 1.1rem;
                line-height: 1.7rem;
                font-weight: $textReg;
            }
            .info{
                color: $textLight;
                text-transform: lowercase;
                line-height: 1.9rem;
            }
        }
        @include mobile{
            flex-direction: column;
            margin-top: 20vh;
            height: unset!important;
            .header-left, .header-right{
                width: 100%;
                padding: 0;
            }
            .header-img{
                height: 40vh!important;
            }
            .header-info{
                padding: 0 10vw;
                margin-top: 40px!important;
                grid-template-columns: 1fr;
            }
            .header-title{
                flex-direction: column-reverse!important;
                padding: 0 10vw 24px 10vw;
                height: unset!important;
                justify-content: flex-start!important;
                align-items: flex-start!important;
            }
            .header-right a{
                position: unset;
                padding: 10vw;
            }
        }
    }
    .body{
        width: 100%;
        padding: 12vh 0 4vh 0;
        a{
            font-size: 100%;
            line-height: 1;
        }
        .body-row{
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 12vh 0;
            ul, ol{
                list-style-type: none;
                margin: 0;
                padding: 0;
                li{
                    margin-bottom: 0.6rem;
                }
            }
            p{
                margin-bottom: 1.2rem;
            }
            h5{
                @extend .serifFont;
                display: inline-block;
                font-size: 1.2rem!important;
                margin: 0% 0% 1.2rem 0%!important;
            }
            a{
                @extend .underline;
            }
            @extend .container;
            .body-row-block{
                box-sizing: border-box;
            }
            img{
                width: 100%;
            }
        }
        @include mobile{
            .body-row{
                margin: 4vh 0;
            }
        }
    }
    .double-text{
        .body-row-block{
            width: 45%;
        }
    }
    .single-text, .image, .images-list{
        flex-direction: column!important;
    }
    .single-text{
        div, img{
            margin-bottom: 24px;
        }
    }
    .images-list{
        margin: 0 0 12vh 0!important;
        img{
            width: 76%!important;
            &:nth-child(even){
                margin-left: 24%;
            }
            margin-bottom: 5%;
        }
    }
    .video-intro{
        margin: 16vh 0;
        display: flex;
        flex-direction: row;
        .video-intro-text, .video{
            width: 50%;
        }
        .video-intro-text{
            display: inline-flex;
            align-items: center;
            padding: 0 5vw 0 10vw;
            a{
                @extend .underline;
            }
            *{
                color: $textLight;
                line-height: 1.8;
            }
        }
        .video{
            .video-wrapper{
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .text-row{
        margin: 16vh 0!important;
        h3{
            line-height: 2;
            font-size: 1.8rem;
            padding-right: 33%;
            color: $textLight;
        }
    }
    .text-image{
        div:nth-of-type(1){
            margin-right: 8%;
            flex: 1;
            @include mobile{
                margin-right: 0%!important;
            }
        }
        div:nth-of-type(2){
            flex: 1.2;
        }
        align-items: center;
    }
    .text-image-half{
        div:nth-of-type(1){
            margin-right: 12%;
            @include mobile{
                margin-right: 0%!important;
            }
        }
        div:nth-of-type(2){
           display: flex;
           justify-content: center;
           align-items: center;
        }
        img{
            width: 60%!important;
        }
    }
    .image{
        span{
            margin-top: 12px;
        }
    }
    .proj-footer{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 2.5fr 3fr;
        padding: 12vh 10vw;
        border: solid 1px rgba($textLight, 0.1);
        height: 68vh;
        h4{
            color: $textLight;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h6{
                color: $textLight;
                margin-bottom: 3%;
            }
            h2{
                a{
                    font-size: 100%;
                    font-weight: $headerBold!important;
                }
            }
        }
        div:last-of-type{
            background-position: center;
            background-size: cover;
            position: relative;
            @extend .backdrop;
        }
        column-gap: 2vw;
        @include mobile{
            padding: 8vh 10vw;
            row-gap: 2vh;
            grid-template-rows: 1fr 2.5fr 4fr;
            grid-template-columns: 1fr;
        }
    }
}
@include mobile{
    .double-text, .video-intro, .text-image{
        flex-direction: column!important;
        div{
            width: 100%!important;
            &:first-of-type{
                margin: 0 0 24px 0;
            }
        }
    }
    .video-intro-text{
        padding: 0 10vw;
    }
    .text-row{
        h3{
            line-height: 1.6!important;
            font-size: 1.4rem!important;
            padding: 0%!important;
        }
        .text-image-half{
            padding: 0 10vw!important;
        }
    }
}