.home-work{
    min-height: 100vh;
    margin-top: 20vh;
    margin-bottom: 12vh;
    h3:first-of-type{
        display: inline-block;
    }
    .work-container{
        margin-top: 5%;
        display: grid;
        grid-column-gap: 8vw;
        grid-template-columns: 1.15fr 1fr;
        .left, .right{
            display: flex;
            flex-direction: column;
        }
        .block-reveal{
            width: 100%;
        }
        .work-item{
            margin-bottom: 4vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .work-cover{
                margin-bottom: 20px;
                overflow: hidden;
                position: relative;
                width: 100%;
                transition: all 0.24s;
                div{
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            h4{
                &:after{
                    width: 0%;
                }
            }
            h6{
                margin-top: 4px;
                color: $textLight;
            }
            &:hover{
                h1:after{
                    width: 100%;
                }
                .work-cover{
                    transform: scale(0.96);
                }
            }
        }
        .left{
            .work-item{
                .work-cover{
                    height: 52vh;
                }
            }
        }
        .right{
            margin-top: 16vh;
            .work-item{
                .work-cover{
                    height: 72vh;
                }
            }
        }
    }
    .work-more-projects{
        margin: 5% 0%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 4rem;
        .more-proj-item{
            position: relative;
            &:hover{
                .background{
                    transform: translateY(-0.6rem);
                }
            }
        }
        .background{
            width: 100%;
            height: 32vh;
            position: relative;
            overflow: hidden!important;
            transition: transform 0.2s;
            div{
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
        }
        .proj-desc{
            margin: 1rem 0;
            min-height: 9rem;
            p{
                font-size: 0.92rem;
            }
        }
        .proj-tags{
           span{
            display: inline-block;
            margin-right: 12px;
            margin-bottom: 12px;
            font-size: 0.92rem;
            font-weight: $textMed;
            color: $secondary;
           }
        }
        .title-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            a{
                display: flex;
                align-items: center;
                justify-content: flex-end; 
            }
            img{
                width: 24px;
                opacity: 0.8;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.4;
                }
            }
        }
    }
    @include mobile{
        .work-container{
            display: grid;
            grid-column-gap: 0;
            grid-template-columns: 1fr;
            margin-top: 32px;
            .left{
                .work-item{
                    margin-bottom: 32px;
                    .work-cover{
                        height: 32vh!important;
                        margin-bottom: 8px!important;
                    }
                }
            }
        }
        .work-more-projects{
            margin-top: 32px;
            grid-template-columns: 1fr;
            row-gap: 32px;
            .title-row{
                margin-top: 12px;
            }
        }
    }
}