<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- site meta tags -->
		<meta name="keywords" content="Su Li, Su, Li, engineer, frontend, ux designer, ui/ux designer, imd, uwb imd, interactive media design, uw bothell, university of washington, web designer, software engineer, front-end engineer, front-end developer, web developer"/>
		<meta name="description" content="Hi! I'm Su Li, designer and engineer based in Seattle specialized in front-end development and ux design. Focused on creating problem-solving and human-centered experience."/>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://lisuying.com/">
		<meta property="og:title" content="Su Li — designer + engineer">
		<meta property="og:description" content="Hi! I'm Su Li, designer and engineer based in Seattle specialized in front-end development and ux design. Focused on creating problem-solving and human-centered experience.">
		<meta property="og:image" content="https://lisuying.com/assets/meta_image.jpg">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://lisuying.com/">
		<meta property="twitter:title" content="Su Li — designer + engineer">
		<meta property="twitter:description" content="Hi! I'm Su Li, designer and engineer based in Seattle specialized in front-end development and ux design. Focused on creating problem-solving and human-centered experience.">
		<meta property="twitter:image" content="https://lisuying.com/assets/meta_image.jpg">
		<!-- site meta tags -->
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>