<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- site meta tags -->
		<meta name="keywords" content="Su Li, Su, Li, ux designer, ui/ux designer, imd, uwb imd, interactive media design, uw bothell, university of washington, web designer, software engineer, front-end engineer, front-end developer, web developer, javascript"/>
		<meta name="description" content="I am Su Li, ux designer and front-end developer based in Seattle. Focused on creating problem-solving and human-centered experience."/>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://lisuying.com/">
		<meta property="og:title" content="su li | designer + developer">
		<meta property="og:description" content="I am Su Li, ux designer and front-end developer based in Seattle. Focused on creating problem-solving and human-centered experience.">
		<meta property="og:image" content="https://lisuying.com/assets/meta_image.jpg">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://lisuying.com/">
		<meta property="twitter:title" content="su li | designer + developer">
		<meta property="twitter:description" content="I am Su Li, ux designer and front-end developer based in Seattle. Focused on creating problem-solving and human-centered experience.">
		<meta property="twitter:image" content="https://lisuying.com/assets/meta_image.jpg">
		<!-- site meta tags -->
		<script type="text/javascript">
			// Single Page Apps for GitHub Pages
			// https://github.com/rafrex/spa-github-pages
			// Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
			// ----------------------------------------------------------------------
			(function(l) {
			  if (l.search) {
				var q = {};
				l.search.slice(1).split('&').forEach(function(v) {
				  var a = v.split('=');
				  q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
				});
				if (q.p !== undefined) {
				  window.history.replaceState(null, null,
					l.pathname.slice(0, -1) + (q.p || '') +
					(q.q ? ('?' + q.q) : '') +
					l.hash
				  );
				}
			  }
			}(window.location))
		  </script>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
